<h1>Bienvenido/a al chat de Coder</h1>

<label for="text">Texto:</label>
<input type="text" id="text" name="text" />
<br /><br />

<div id="chat-container">
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>