<h1>Bienvenido/a a la Ecommerce Web:</h1>
<h3>Por favor, escribe tu Email y elige una contraseña nueva</h3>
<br />

<form action="/api/users/resetPassword/{{recoverId}}" method="post">
  <span>Nuevo Password:</span>
  <input type="password" name="password" value="" placeholder="P@sSW0rD" />
  <button value="sumbit">Crear nueva contraseña</button>
</form>
<br />
<br />
<br />